.tableWrap {
    margin: 25px auto;
    width: fit-content;
}

.tableWrap table, th, td {
    border: 1px solid rgba(34, 34, 34, 0.85);
    border-collapse: collapse;
}

.tableWrap tr:nth-child(even) {background-color: rgba(215, 215, 215, 0.75);}

.tableWrap td {
    text-align: center;
    padding: 7px;
    width: 100px;
    height: 50px;
}