.tableWrap {
    margin: 25px auto;
    width: fit-content;
}

.tableWrap table {
    border-collapse: collapse;
    margin: 0 auto;
    width: fit-content;
}

.tableWrap h1 {
    color: rgba(248, 248, 255, 0.80);
    margin: 35px;
}

.tableWrap td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    color: ghostwhite;
}

.cell {
    text-align: center;
    padding: 5px;
    width: fit-content;
    height: 50px;
}

.imageCell {
    padding: 5px;
    width: 100px;
    height: 50px;
}