

#mainDiv {
    margin: 0 auto;
}


#current{
    height: 180px;
    width: fit-content;
    margin: 0 auto;
}

#tableWrapper{
    padding-top: 55px;
}

#tableWrapper table {
    margin: 0 auto;
    width: fit-content;
}

#tableWrapper hr {
    color: ghostwhite;
    margin: 15px;
}

#tableWrapper th {
    text-align: center;
    border: none;
    padding: 3px;
    color: ghostwhite;
}

#tableWrapper td {
    padding: 2px;
    text-align: center;
    border: none;
    width: 90px;
    height: 45px;
    font-size: 18px;
    color: ghostwhite;

}

#farenDiv {
    position: relative;
    left: 59px;
    width: fit-content;
    margin: 0 auto;
    font-size: 170%;
    bottom: 65px;
}

#farenDiv h1 {
    margin: 0 auto;
    color: ghostwhite;
}

#celsDiv {
    position: relative;
    right: 53px;
    width: fit-content;
    margin: 0 auto;
    font-size: 170%;
    bottom: 8px;
}

#celsDiv h1 {
    margin: 0 auto;
    color: ghostwhite;
}

