#mainDiv {
    margin: 0 auto;
    width: fit-content;
}

#current{
    height: 180px;
    width: fit-content;
    margin: 0 auto;
}

#tableWrapper{
    padding-top: 55px;
}

#tableWrapper table, th, td {
    border: 1px solid rgba(34, 34, 34, 0.85);
    border-collapse: collapse;
    margin: 0 auto;
    width: fit-content;
}

#tableWrapper td {
    text-align: center;
    padding: 1px;
    width: 100px;
    height: 45px;
}

#farenDiv {
    position: relative;
    left: 59px;
    width: fit-content;
    margin: 0 auto;
    font-size: 170%;
    bottom: 65px;
}

#farenDiv h1 {
    margin: 0 auto;
}

#celsDiv {
    position: relative;
    right: 53px;
    width: fit-content;
    margin: 0 auto;
    font-size: 170%;
    bottom: 8px;
}

#celsDiv h1 {
    margin: 0 auto;
}

