.menuItem {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: rgba(39, 127, 171, 0.8);
    display: block;
    transition: 0.5s;
}

.menuItem:hover{
    color: #d1d1d1;
}


.topBar {
    height: 10%;
    background-color: rgba(0, 0, 0, 0.2);
}

.barText {
    text-align: center;
    margin: 0;
    padding: 2px;
    color: rgba(248, 248, 255, 0.85);
}

.burgerDiv {
    width: 40px;
    position: relative;
}

#burger {
    font-size: 249%;
    padding: 5px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.topTextArea {
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    right: 0;
}


.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.85);
    transition: 0.5s;
    padding-top: 60px;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

.sideNavCloseBtn {
    position: absolute;
    color: rgba(0, 0, 0, 0.6);
    top: 3px;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}

.bodyStuff {
    height: 80%;
    padding: 5%;
}
